:root {
    --bg-dark: #000000;
    --bg-light: #383838;
    --text-regular: #ffffff;
    --text-highlight: #a593a2;
    --color-primary-dark: #ffbc6d;
    --color-primary-light: #ffca64;
    --color-secondary-dark: #6df8ff;
    --color-secondary-light: #6a6aa5;
}
.menu{
    /*background-color: var(--bg-light);*/
}
.component {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}
.subcomponents {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}
.gutter{
    background-color: var(--bg-light);
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    width: 5px;
}
.gutter.gutter-vertical {
    cursor: ns-resize;
}