:root {
    --bg-dark: #000000;
    --bg-light: #383838;
    --text-regular: white;
    --text-highlight: #a593a2;
    --color-primary-dark: #ffbc6d;
    --color-primary-light: #ffca64;
    --color-secondary-dark: #6df8ff;
    --color-secondary-light: #6a6aa5;
}