.flex {
    display: flex;
    flex: 1;
    height: 100%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background: var(--bg-light);
}
.gutter.gutter-vertical {
    cursor: ns-resize;
    background: var(--bg-light);
}

.split-1{
    background: var(--bg-dark);
}
.split-2{
    background: var(--bg-dark);
}